@font-face {
  font-family: "CeraRoundPro";
  src: url("../assets/fonts/fontspring-demo-ceraroundpro-light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CeraRoundPro";
  src: url("../assets/fonts/fontspring-demo-ceraroundpro-regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CeraRoundPro";
  src: url("../assets/fonts/fontspring-demo-ceraroundpro-medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CeraRoundPro";
  src: url("../assets/fonts/fontspring-demo-ceraroundpro-bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CeraRoundPro";
  src: url("../assets/fonts/fontspring-demo-ceraroundpro-black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}
